#home_page {
  .multicolor-section {
    background: linear-gradient(
      180deg,
      theme-color(primary) 30%,
      theme-color(secondary) 70%
    );
  }
  .project-cart {
    .project-img {
      object-fit: cover;
      object-position: center top;
      transition: all 300ms ease-in-out;
    }
    .project-img-container:hover {
      .project-img {
        object-position: center bottom;
      }
      .project-overlay{
        display: block !important; 
      }
    }
    svg:hover{
      fill: theme-color(primary);
    }
  }
}
