#home_page {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: left 50%;
  .hero {
    .slider-3d
      .slider-container
      .slider-content
      .slider-single
      .slider-single-content {
      box-shadow: none;
    }

    .slider_arrow {
      left: calc(50% - 30px);
      right: calc(50% - 30px);
      bottom: -48px;

      button {
        border: 0;
        background-color: transparent;
        transform: rotate(360deg);
        padding: 0 !important;
      }

      &:lang(ar) {
        .prev {
          transform: scaleX(-1);
        }
      }

      &:lang(en) {
        .next {
          transform: scaleX(-1);
        }
      }
      position: absolute;
      z-index: 5;
    }

    .hero_content {
      .hero_text {
        min-height: 64px;
      }
      .transition-enter {
        opacity: 0.01;
        transform: translate(0, -10px);
      }

      .transition-enter-active {
        opacity: 1;
        transform: translate(0, 0);
        transition: all 300ms ease-in;
      }

      .transition-exit {
        opacity: 0;
        height: 0;
      }

      .transition-exit-active {
        opacity: 0;
        height: 0;
      }
    }
  }

  .news-bar {
    box-shadow: 0px 30px 50px rgba(148, 29, 129, 0.1);
    height: 55px;
    direction: ltr !important;

    * {
      direction: rtl;
      display: inline;
    }
  }

  .discover_link {
    a {
      display: flex;
      gap: 17px;
    }

    a:hover {
      gap: 27px;
    }

    svg {
      display: block;
      transform: scaleX(-1);
      fill: theme-color(secondary);
      transition: 0.2s all ease-in-out;

      &:lang(ar) {
        transform: scaleX(1);
      }
    }
  }

  .about_us {
    .panel {
      padding-right: 16px;
      padding-left: 16px;
      &:hover {
        padding-right: 10px !important;
        &:lang(ar) {
          padding-right: 16px !important;
          padding-left: 10px !important;
        }
      }
      svg {
        width: 22px;
      }
    }

    .about_us_card {
      svg {
        width: 60px !important;
        fill: theme-color(secondary) !important;
      }
    }
  }
}
