#profile {
  .profile_nav {
    a {
      color: theme-color(light4);
      svg {
        fill: theme-color(light4);
      }
      &:hover,
      &:active,
      &.active {
        color: theme-color(primary);
        svg {
          fill: theme-color(primary);
        }
      }
    }
  }

  .control_svg {
    fill: theme-color(light4);

    &.active {
      fill: theme-color(primary);
    }
  }
}
