.book_card {
  margin-top: calc(0.5 * 250px);
  min-height: 360px;
  -webkit-box-shadow: 0 0px 5px #ccc;

  .book-img img {
    min-height: 250px !important;
    max-height: 250px;
    margin-top: calc(-0.5 * 250px);
    max-width: 180px;
    object-fit: contain;
  }
  .description{
    min-height: 62px;
  }
  .links_types-ul{
    min-height: 32px;
  }
}
 