.collapse_list {
  .form-check {
    padding: 0;
    .form-check-input {
      margin: 12px 0 4px 0;
    }

    .form-check-input:checked {
      background-color: theme-color(primary);
      border-color: theme-color(primary);
    }
  }

  .btn-label {
    border: 2px solid theme-color(light4);
    color: theme-color(light4);
  }

  .btn-check:checked + .btn-label,
  .btn-check:active + .btn-label,
  .btn-label:active,
  .btn-label.active,
  .show > .btn-label.dropdown-toggle {
    border-color: theme-color(primary);
    color: theme-color(primary);
  }

  .collapse-header {
    padding-bottom: 8px;
    transition-delay: 0.35s;
    border-bottom: 1px solid theme-color(light4);
  }

  &:not(.open) {
    .collapse-header:not(.border-persist) {
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  .collapse-body {
    .list-item {
      h5,
      h6,
      span {
        color: theme-color("blue");
      }
    }

    .list-item.chosen {
      background-color: theme-color(primary);
      h5,
      h6,
      span {
        color: #fff;
      }
    }

    &.scrollable {
      overflow: hidden;
      overflow-y: scroll;
      height: 200px;
      margin: 0;
      /* width */
      &::-webkit-scrollbar {
        width: 7px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: theme-color(light2);
        border-radius: 7px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: theme-color(primary);
      }
    }
  }

  &-2 {
    padding: 25px 30px;
    @media only screen and (max-width: 1024px) {
      padding: 25px 15px;
    }
    background: #fafafc;
    border: 1px solid theme-color(light3);
    border-radius: 14px;

    .collapse-header {
      color: theme-color(primary);
      fill: theme-color(primary);
    }

    .collapse-body {
      .number {
        background-color: #2954a1;
        color: #fff;
        font-size: 14px;
        padding: 0 11px;
        border-width: 0;
        border-radius: 15px;
        text-align: center;
      }
    }
  }
}
