.floating_actions {
  transition: all 500ms linear;
  z-index: 99;
  position: fixed;
  bottom: 20px;
  right: 20px;

  &.slideout {
    right: -25%;
  }

  .floating_button {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 3;

    svg {
      width: 25px;
      height: 25px;
    }
    .slide_text {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      white-space: nowrap;
      color: rgba(255, 255, 255, 0);
      pointer-events: none;
    }

    &:hover .slide_text {
      color: theme-color(primary);
      right: 60px;
    }
  }

  @media only screen and(max-width: 767px) {
    right: auto;
    left: 20px;

    &.slideout {
      right: auto;
      left: -25%;
    }

    .floating_button {
      width: 35px;
      height: 35px;
    }
  }

  &:lang(en) {
    right: auto;
    left: 30px;

    &.slideout {
      right: auto;
      left: -25%;
    }

    .floating_button {
      .slide_text {
        right: auto;
        left: 0;
      }

      &:hover .slide_text {
        right: auto;
        left: 60px;
      }
    }

    @media only screen and(max-width: 767px) {
      left: auto;
      right: 20px;

      &.slideout {
        left: auto;
        right: -25%;
      }
    }
  }
}
