#layout {
  padding-top: 100px;

  @media only screen and (max-width: 768px) {
    padding-top: 160px;
  }

  background: linear-gradient(
    225deg,
    rgba(102, 0, 204, 0.18) 0%,
    rgba(250, 250, 252, 1) 83%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  &:lang(ar) {
    background-position-x: left;
  }
}

#layout2 {
  padding-top: 100px;
  @media only screen and (max-width: 768px) {
    padding-top: 160px;
  }
  background-image: url("../../assets/images/home-bg.svg");
  background-attachment: scroll;
  background-position: top left;
  background-repeat: no-repeat;
  &:lang(en) {
    background-image: url("../../assets/images/home-bg-ar.svg");
    background-position: top right;
  }
}
