.multimedia_card {
  min-height: 450px;
  background-image: linear-gradient(360deg, #f2f2f5 60%, #fff 40%);
  border-bottom-left-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;
  -webkit-box-shadow: 0 0px 5px #ccc;

  img {
    min-height: 175px;
    max-width: 50%;
    width: 50%;
  }

  .description{
    min-height: 62px;
  }

}
