.pagination {
  align-items: center;
  justify-content: center;
  height: 40px;
  .page-item .page-link {
    color: theme-color(light4);
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .page-item.active .page-link {
    background-color: theme-color(primary);
    border-color: theme-color(primary);
  }
  .page-item:first-child .page-link {
    border-radius: 0 !important;
    &:lang(ar) {
      border-top-right-radius: 12px !important;
      border-bottom-right-radius: 12px !important;
    }
    &:lang(en) {
      border-top-left-radius: 12px !important;
      border-bottom-left-radius: 12px !important;
    }
  }
  .page-item:last-child .page-link {
    border-radius: 0 !important;
    &:lang(ar) {
      border-top-left-radius: 12px !important;
      border-bottom-left-radius: 12px !important;
    }
    &:lang(en) {
      border-top-right-radius: 12px !important;
      border-bottom-right-radius: 12px !important;
    }
  }

  .arrowLink {
    svg {
      path {
        fill: theme-color(light4) !important;
      }
    }
  }
}

@media (max-width: 576px) {
  .pagination {
    align-items: center;
    justify-content: center;
    .page-item .page-link {
      font-size: 14px !important;
      padding: 8px;
    }
  }
}

.pagination {
  .page-item {
    display: block !important;
    height: 100%;
    min-height: 100%;

    .page-link {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
