.tab_slider {
  .tabs_container {
    .tabs_inner {
      list-style: none;
      display: flex;
      max-width: 100%;
      border-bottom: 1px solid theme-color("light");
      overflow-x: auto;

      li {
        font-size: 20px;
        border: 1px solid theme-color("light");
        border-bottom: unset;
        background-color: #fff;
        cursor: pointer;
        white-space: nowrap;
        color: theme-color(light4);
        &:hover,
        &:active,
        &.active {
          background-color: theme-color(light);
          border-color: theme-color(light);
          color: theme-color(primary);
        }

        &:first-child {
          &:lang(ar) {
            border-top-right-radius: 5px;
          }

          &:lang(en) {
            border-top-left-radius: 5px;
          }
        }

        &:last-child {
          &:lang(ar) {
            border-top-left-radius: 5px;
          }

          &:lang(en) {
            border-top-right-radius: 5px;
          }
        }
      }
    }
  }

  &-alternate {
    .tabs_container {
      .tabs_inner {
        list-style: none;
        background-color: transparent;
        display: flex;
        padding-left: 0;
        border-bottom: 1px solid theme-color(light3);
        overflow-x: auto;

        li {
          font-size: 20px;
          background-color: transparent;
          border: 1px solid theme-color(light3);
          border-bottom: unset;
          color: theme-color(light4);
          cursor: pointer;
          white-space: nowrap;
          &:hover,
          &:active,
          &.active {
            background-color: #fff;
            border-color: transparent;
            color: theme-color(primary);
          }

          &:first-child {
            &:lang(ar) {
              border-top-right-radius: 5px;
            }

            &:lang(en) {
              border-top-left-radius: 5px;
            }
          }

          &:last-child {
            &:lang(ar) {
              border-top-left-radius: 5px;
            }

            &:lang(en) {
              border-top-right-radius: 5px;
            }
          }
        }
      }
    }
  }
}
