.view_button {
  border-bottom-left-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;
  color: theme-color(light4);

  svg {
    fill: theme-color(light4);
    margin: 0;
  }

  &:hover {
    color: theme-color(primary);

    svg {
      fill: theme-color(primary);

      margin-left: 5px;
      &:lang(ar) {
        margin-right: 5px;
      }
    }
  }
}
